@page "/states/details/{StateId:int}"

@if (state is null)
{
    <Loading />
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-globe-americas" /> @state.Name
                <a class="btn btn-sm btn-primary float-end mx-1" href="/cities/create/@state.Id"><i class="bi bi-plus-square" />  Adicionar Ciudad</a>
                <a class="btn btn-sm btn-success float-end" href="/countries/details/@state.CountryId"><i class="bi bi-arrow-left" />  Regresar</a>

            </span>
        </div>
        <div class="card-body">
            <GenericList MyList="cities!">
                <Body>

                    @if (currentRecordsNumber != "todos")
                    {
                        <FilterComponent ApplyFilter="SetFilterValue" />
                    }
                    <Pagination CurrentPage="currentPage" TotalPages="totalPages" SelectedPage="SelectedPageAsync" SelectedRecordsNumber="SetRecordsNumber" />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ciudad</th>
                                <th>Unidades Residenciales</th>
                                <th style="width:168px">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var city in cities!)
                            {
                                <tr>
                                    <td><a href="/cities/details/@city.Id"> @city.Name</a></td>
                                    <td> @city.ResidentialUnitsNumber</td>
                                    <td>
                                        <a href="/cities/edit/@city.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                        <button @onclick=@(() => DeleteAsync(city)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>
        </div>
    </div>
}
