@page "/apartments/{ResidentialunitId:int}"

@if (residentialUnit is null)
{
    <Loading />
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-houses-fill"/> Apartamentos - @residentialUnit.Name
                <a class="btn btn-sm btn-primary float-end mx-1" href="/apartments/create/@residentialUnit.Id"><i class="bi bi-plus-square" />  Crear Apartamento</a>
                <a class="btn btn-sm btn-success float-end" href="/residentialUnits"><i class="bi bi-arrow-left" />  Regresar</a>

            </span>
        </div>
        <div class="card-body">
            <GenericList MyList="apartments!">
                <Body>

                    @if (currentRecordsNumber != "todos")
                    {
                        <FilterComponent ApplyFilter="SetFilterValue" />
                    }
                    <Pagination CurrentPage="currentPage" TotalPages="totalPages" SelectedPage="SelectedPageAsync" SelectedRecordsNumber="SetRecordsNumber" />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Apartamento</th>
                                <th>Vehiculos</th>
                                <th style="width:210px">Mascotas</th>
                                <th style="width:470px"><i class="bi bi-tools"/> Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var apartment in apartments!)
                            {
                                <tr>
                                    <td>@apartment.Number</td>
                                    <td><a href="/vehicles/@apartment.Id" class="btn btn-sm btn-info"><i class="bi bi-car-front-fill"/> @apartment.VehiclesNumber</a></td>
                                    <td><a href="/pets/@apartment.Id" class="btn btn-sm btn-primary"> <i class="bi bi-tencent-qq" /> @apartment.PetsNumber</a></td>
                                    <td>
                                        <a href="/apartments/edit/@apartment.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                        <button @onclick=@(() => DeleteAsync(apartment)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>
        </div>
    </div>
}
