@page "/commonzones/edit/{CommonZoneId:int}"

<h3><i class="bi bi-pencil"/> Editar  Zona Común</h3>

@if (commonZone is null)
{
    <Loading />
}
else
{
    <CommonZoneForm @ref="commonZoneForm" CommonZone="commonZone" OnValidSubmit="EditAsync" ReturnAction="Return" />
}


