@page "/residentialUnits/create"


<h3>Crear Unidad Residencial <i class="bi bi-building-fill-add" /></h3>

<ResidentialUnitForm @ref="residentialUnitForm" ResidentialUnit="residentialUnit" OnValidSubmit="CreateResidentialUnitAsync" ReturnAction="Return" IsEdit=false />


