@page "/residentialUnits/edit/{id:int}"

<h3>Editar Unidad Residencial <i class="bi bi-building-fill-gear" /></h3>

@if (loading)
{
    <Loading />
}
else
{
    <ResidentialUnitForm @ref="residentialUnitForm" ResidentialUnit="residentialUnit" OnValidSubmit="EditResidentialUnitAsync" ReturnAction="Return" IsEdit=true />
}