@page "/vehicles/create/{ApartmentId:int}"

<h3><i class="bi bi-plus-square" /> Crear Vehículo</h3>

<VehicleForm @ref="vehicleForm" Vehicle="vehicle" OnValidSubmit="CreateAsync" ReturnAction="Return" />